# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Compilación y builds
dist/
frontend/dist/
build/

# Variables de entorno y secretos
.env
.env.local
.env.*.local

# Base de Datos local (SQLite)
backend/*.sqlite
backend/*.db
backend/*.sqlite-journal

# Archivos de logs y sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Multimedia y archivos subidos por usuarios
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
